# Ignorar a pasta venv
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar arquivos de log
*.log

# Ignorar arquivos de banco de dados SQLite
*.sqlite3

# Ignorar arquivos de configuração do VS Code
.vscode/

# Ignorar arquivos de configuração do Jupyter Notebook
.ipynb_checkpoints/

# Ignorar arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

learn.txt

# Para ignorar o conteúdo baixado
*.mp4